<section id="search" class="search-wrap">
    <h1>Find some delicious food!</h1>
    <form action="/gigs/search" class="search-form">
      <i class="fas fa-search"></i>
      <input type="search" name="term" placeholder="What would you like to eat?">
      <input type="submit" value="Search">
    </form>
  </section>

